.main-bg {
  background: rgb(22, 20, 28);
}

.flex-jc-ai {
  display: flex;
  align-items: center;
  justify-content: center;
}

.w100 {
  width: 100%;
}

/* ******************************************** */
/* ************* Section Main ***************** */
/* ******************************************** */

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ******************************************** */
/* ************* Section Nav ****************** */
/* ******************************************** */

.navWrapper {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 100%;
  height: 4rem;
  border: solid whitesmoke 1px;
  border-radius: 0.5rem;
}

.searchBar {
  height: 2rem !important;
  width: 30rem;
  margin: 1rem;
  border-radius: 2rem;
  background: rgb(30, 33, 48);
  border: none;
  appearance: none;
  padding: 0.5rem;
  padding-left: 1.5rem;
  color: white;
  font-size: 20px;
}

.searchBar:focus {
  box-shadow: 1px 1px 2px black, 0 0 25px #ff0049, 0 0 5px #ff0049;
  border: solid #ff0049 1px;
  background: rgb(30, 33, 48);
}

.searchbarwrapper {
  height: 5rem;
  border-bottom: solid rgba(169, 169, 169, 0.2) 1px;
}

.searchIcon {
  height: 20px;
  width: auto;
  background: rgb(30, 33, 48);
  padding: 1rem;
  border-radius: 2rem;
}

.searchIcon:hover{
  background: rgb(45, 48, 63);
}

.searchIcon:active {
  box-shadow: 1px 1px 2px black, 0 0 25px #ff0049, 0 0 5px #ff0049;
  border: solid white 1px;
}

.submitButton {
  width: auto;
  height: auto;
  cursor: pointer;
  border-radius: 2rem;
  border: none;
  background-color: transparent;
}

/* ******************************** */
/* ************ main ************* */
/* ****************************** */

.mainWindow {
  height: 100%;
  border: solid rgba(169, 169, 169, 0.2) 1px;
  border-radius: 0.5rem;
  margin: 1rem;
}

.test {
  height: 3rem;
  border-bottom: solid rgba(169, 169, 169, 0.2) 1px;
} 