html {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background: rgb(22, 20, 28);
}

html {
  display: flex;
  flex-wrap: wrap;
}

body {
  margin: 0px;
  width: 100%;
  height: auto;
  display: flex;
}

h1 {
  color: white;
}
