.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.upload-card-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 40rem;
  background: rgb(22, 20, 28);
  border-radius: 1rem;
  border: solid #ff0048bb 1px;
  box-shadow: 0px 0px 40px 3px #ff0048c7;
  display: flex;
  flex-direction: column;
}

.btn-wrapper {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.btn {
  display: flex;
  margin: 1rem;
  width: inherit;
  height: inherit;
  justify-content: center;
  border-radius: 1rem;
  align-items: center;
  background: rgb(24, 22, 30);
  border: solid rgb(74, 68, 92) 1px;
}

.btn-label {
  display: flex;
  width: inherit;
  height: inherit;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.btn-label:hover{
  cursor: pointer;
  color:  rgb(23, 191, 99);
  background: radial-gradient(rgba(23, 191, 99, 0.1) 0, rgba(23, 191, 99, 0) 85%);
}

.drag-n-drop {
  margin: 1rem;
  width: auto;
  height: inherit;
  border: solid rgb(74, 68, 92) 1px;
  border-radius: 1rem;
  background: rgb(24, 22, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size: x-large;
}

.x-circle {
  position: absolute;
  top: -1%;
  right: -1%;
  margin: 1rem;
  color: rgb(113, 118, 123);
  border-radius: 100%;
  padding: 3px;
}

.x-circle:hover {
  cursor: pointer;
  color: rgba(255, 0, 72, 1);
  background-color: rgba(255, 0, 72, 0.05);
}

.title-wrapper {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  text-align: center;
}

.h1-wrapper {
  background: rgb(24, 22, 30);
  text-align: center;
  width: inherit;
  display: block;
  border-bottom: solid rgb(74, 68, 92) 1px;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.upload-btn {
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 4rem;
  background: linear-gradient(to right, #1245C6, #9909B7);
  border: none;
  border-radius: 0.5rem;
  color: #eee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.margin-r-1 {
  margin-right: 0.5rem;
}

.upload-multiple {
  color: #eee;
  width: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background: rgb(24, 22, 30);
  border-radius: 1rem;
  padding: 0.5rem;
  border: solid rgb(74, 68, 92) 1px;
}

.upload-multiple {
  cursor: default;
}

.uploadCloudIcon {
  color: #898989;
  width: 30%;
  height: auto;
}

.metadata-item-container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
